@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

.gauge-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#plotdiv {
    width: 100%;
    height: 300px;
}
canvas {
    width: 100%;
}


#log {
    height: 300px; 
    overflow-y: auto;
}

#discBtn{
    visibility: hidden;
}
  
#buttonStart{
  display: none;
}

#humidityBtn{
  display: none;
}
#temperatureBtn{
  display: none;
}

#canvasID{
  visibility: hidden;
}

.disc-btn{
    margin-right: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}