<!DOCTYPE html>
<html>
<head>
  <title>Archived Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <h2 class="text-center my-4">Archived Data</h2>
    <div class="list-group">
      {% for data_id in data_ids %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <span>Data ID: {{ data_id }}</span>
          <div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm view-data" data-id="{{ data_id }}">View</a>
            <a href="javascript:void(0)" class="btn btn-danger btn-sm delete-data" data-id="{{ data_id }}">Delete</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="data-container" class="mt-4">
      <!-- Data will be loaded here -->
    </div>
  </div>

  <script>
    function loadData(dataId) {
      $.get('/get_data/' + dataId, function(response) {
        var dataContainer = $('#data-container');
        dataContainer.empty();
        if (response.error) {
          dataContainer.append('<p class="text-danger">' + response.error + '</p>');
        } else {
          var data = response.data;
          var list = $('<ul class="list-group"></ul>');
          data.forEach(function(item) {
            list.append('<li class="list-group-item">x: ' + item.x + ', sensor_data: ' + item.sensor_data + ', data_switch: ' + item.data_switch + '</li>');
          });
          dataContainer.append(list);
        }
      }).fail(function() {
        alert("Failed to load data.");
      });
    }

    function deleteData(dataId) {
      $.post('/delete_data/' + dataId, function(response) {
        if (response.status === 'success') {
          location.reload();
        } else {
          alert(response.error);
        }
      }).fail(function() {
        alert("Failed to delete data.");
      });
    }

    $(document).ready(function() {
      $('.view-data').click(function() {
        var dataId = $(this).data('id');
        loadData(dataId);
      });

      $('.delete-data').click(function() {
        var dataId = $(this).data('id');
        deleteData(dataId);
      });
    });
  </script>
</body>
</html>
